/* line 8, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 20, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_reset.scss */
:focus {
  outline: 0;
}

/* line 23, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_reset.scss */
body {
  /*	line-height: 1;*/
  color: black;
  background: white;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 32, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 36, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 41, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 44, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/*************************************************/
/*from http://wesleyhales.com/entry/css_framework*/
/* used by legacy blog posts up to 10/29/2011    */
/*************************************************/
/* line 5, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.align-center {
  text-align: center;
}

/* line 9, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.align-center-margin {
  margin: 0 auto 0 auto;
}

/* line 13, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.float-left {
  float: left;
}

/* line 17, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.float-right {
  float: right;
}

/* line 21, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.align-left {
  text-align: left !important;
}

/* line 25, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.align-right {
  text-align: right;
}

/* line 29, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.align-top {
  vertical-align: top;
}

/* line 33, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.half-width {
  width: 49%;
}

/* line 37, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.quarter-width {
  width: 24.9%;
}

/* line 41, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.three-quarter-width {
  width: 74.9%;
}

/* line 45, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.full-width {
  width: 100%;
}

/* line 49, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.third-width {
  width: 32.9%;
}

/* line 53, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.two-third-width {
  width: 65.9%;
}

/* line 57, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.auto-width {
  width: auto;
  padding: 0 7px 0 0;
}

/* line 62, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.ten-percent-width {
  width: 10%;
}

/* line 67, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.third-width-pad5 {
  width: 32.5%;
  padding: 5px;
}

/* line 72, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.two-third-width-pad5 {
  width: 65.5%;
  padding: 5px;
}

/* line 77, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.tenpx-top-bottom {
  margin: 10px 0 10px 0;
}

/* line 81, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.tenpx-bottom {
  margin: 0 0 10px 0;
}

/* line 85, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.tenpx-top {
  margin: 10px 0 0 0;
}

/* line 89, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.twentypx-top {
  margin: 20px 0 0 0;
}

/* line 93, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.tenpx-right {
  margin: 0 10px 0 0;
}

/* line 97, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.tenpx-left {
  margin: 0 0 0 10px;
}

/* line 101, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.clear {
  clear: both;
}

/* line 105, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.clear-left {
  clear: left;
}

/* line 109, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.clear-right {
  clear: right;
}

/* line 113, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.pad5 {
  padding: 5px;
}

/* line 117, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.pad10 {
  padding: 10px;
}

/* line 121, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.margin10 {
  margin: 10px;
}

/* line 125, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.marginTop10 {
  margin: 10px 0 0 0;
}

/* line 129, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.absolute {
  position: absolute;
}

/* line 133, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.relative {
  position: relative;
}

/* line 137, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.hidden {
  display: none;
}

/* line 141, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.inline {
  display: inline;
}

/* line 145, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.error {
  color: #b0241c;
}

/* line 149, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.bold {
  font-weight: bold;
  text-decoration: none;
}

/*rounded corners*/
/* line 156, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_base.scss */
.rounded-5px {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 1, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu {
  margin: 0;
  line-height: 100%;
}

/* sub levels link hover */
/* line 8, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul li:hover a,
#menu li:hover li a {
  background: none;
  border: none;
  /*color: #666;*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/* line 16, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul a:hover {
  background: #f8f7de !important;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f6ec', endColorstr='#faf8cf');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f6ec), to(#faf8cf)) !important;
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #f7f6ec, #faf8cf) !important;
  /* for firefox 3.6+ */
  /*color: #fff !important;*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

/* level 2 list */
/* line 28, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul {
  background: #fff;
  /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fff');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, white);
  /* for firefox 3.6+ */
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

/* dropdown */
/* line 50, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu li:hover > ul {
  display: block;
}

/* line 53, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul li {
  float: none;
  margin: 0;
  padding: 0;
}

/* line 58, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul a {
  font-weight: normal;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, .9);*/
}

/* level 3+ list */
/* line 63, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul ul {
  left: 181px;
  top: -3px;
}

/* rounded corners for first and last child */
/* line 68, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul li:first-child > a {
  -webkit-border-top-left-radius: 9px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-right-radius: 9px;
  -moz-border-radius-topright: 9px;
}

/* line 74, /Users/u991/dev/wesleyhales.com/stylesheets/partials/_navmenu.scss */
#menu ul li:last-child > a {
  -webkit-border-bottom-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-right-radius: 9px;
  -moz-border-radius-bottomright: 9px;
}

/* line 5, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: .9em;
  font-family: proxima-nova-extra-condensed,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Arial,sans-serif;
  position: relative;
  /*width:100%;*/
}

/* line 16, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.fontface body h1, .fontface body h2, .fontface body h3 {
  font-family: AvenirRegular, 'Lucida Grande', sans-serif;
}

/* line 22, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
a, a:visited {
  text-decoration: none;
  color: #39C;
}

/* line 27, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 31, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
h1 {
  font-size: 1.8em;
  font-weight: normal;
  padding: 17px 0 7px 0;
  width: 100%;
  margin: 0 auto 0 auto;
}

/* line 39, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
h2 {
  font-size: 1.3em;
  font-weight: normal;
  padding: 17px 0 7px 0;
  width: 100%;
  margin: 0 auto 0 auto;
}

/* line 47, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
p {
  margin: 7px 0 0 0;
}

/*************************************************
Specific Awestruct extension style
*************************************************/
/* line 54, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
pre {
  font-family: courier;
}

/* line 58, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.tag-0 {
  font-size: 100%;
}

/* line 61, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.tag-1 {
  font-size: 140%;
}

/* line 64, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.tag-2 {
  font-size: 180%;
}

/* line 67, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.tag-3 {
  font-size: 220%;
}

/* line 70, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.tag-4 {
  font-size: 260%;
}

/* line 73, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.tag-5 {
  font-size: 300%;
}

/* line 76, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.tag-6 {
  font-size: 300%;
}

/* line 82, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.pagination-links {
  font-size: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 86, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.pagination-links .page-link, .pagination-links a, .pagination-links .current-page, .pagination-links span {
  padding: .6ex;
}
/* line 89, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.pagination-links .page-link, .pagination-links a, .pagination-links .current-page {
  border: 1px solid #888;
}
/* line 92, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.pagination-links .current-page {
  border: 1px solid #555;
  background-color: #ddd;
  font-weight: bold;
}
/* line 97, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.pagination-links .previous-link, .pagination-links .next-link {
  font-weight: bold;
}

/* line 102, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
em {
  font-weight: bold;
}

/*TODO - move*/
/*************************************************
Defined fonts
*************************************************/
@font-face {
  font-family: AvenirDemi;
  src: url(/type/AvenirNextLTPro-Demi.otf);
  src: local("AvenirDemi"), url(/type/AvenirNextLTPro-Demi.otf) format("opentype");
}

@font-face {
  font-family: AvenirRegular;
  src: url(/type/AvenirNextLTPro-Regular.otf);
  src: local("AvenirRegular"), url(/type/AvenirNextLTPro-Regular.otf) format("opentype");
}

/*TODO - move*/
/*************************************************
Site Navigation
*************************************************/
/* line 129, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
body > header {
  background: url(../images/skin/renewal/header-bg-pattern.gif) top left repeat-x;
}

/* line 132, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.header-box {
  background: url(../images/skin/renewal/header-bg2.gif) top center no-repeat;
  height: 155px;
  position: relative;
  width: 100%;
}

/*making logo absolute to stay aligned with toolbar*/
/* line 141, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.header-box > .logo-bold {
  position: absolute;
  top: 10px;
  left: 6%;
  font-family: AvenirDemi, 'Lucida Grande', sans-serif;
  font-size: 1.5em;
  color: #fff;
}

/* line 150, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.header-box > .logo-bold span {
  font-family: AvenirRegular, 'Lucida Grande', sans-serif;
}

/* line 154, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.header-box > nav {
  right: 3%;
  top: 62px;
  position: absolute;
}

/* line 161, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.borderradius nav.site a,
.borderradius nav.console a {
  opacity: 1.0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 168, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.borderradius nav.site a {
  background: #f6f6f6;
}

/* line 172, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.borderradius nav.console a {
  /*background: #e8e8e8;*/
}

/* line 176, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
#menu > li {
  height: 30px;
  margin: 0 5px;
}

/* line 181, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
#menu li {
  float: left;
  position: relative;
  z-index: 10;
}

/* line 189, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
#twitter_update_list li,
#menu li, .toc-list li {
  list-style: none;
}

/* line 194, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
#menu a {
  text-decoration: none;
  color: #bfe3f8;
  display: block;
  padding: 8px 14px;
  margin: 0;
  font-size: 1.1em;
}

/* main level link on hover and selected */
/* line 207, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
ul#menu li.selected > a,
ul#menu li > a:focus,
ul#menu li > a:hover,
ul#menu li:hover > a {
  background-color: rgba(255, 255, 255, 0.17);
  color: #fff;
}

/* line 212, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
ul#menu li ul li a {
  color: #777;
}

/* line 217, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
ul#menu li ul li a:hover,
ul#menu li ul li a:focus {
  color: #000;
  font-weight: bold;
}

/*transition*/
/* line 223, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
nav a {
  padding: 5px 10px;
  /*background: #9c3;*/
  -webkit-transition: background .3s ease, color 0.2s linear;
  -moz-transition: background .3s ease, color 0.2s linear;
  -o-transition: background .3s ease, color 0.2s linear;
  transition: background .3s ease, color 0.2s linear;
}

/*************************************************
Left Toolbar/Column
*************************************************/
/* line 235, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
body aside {
  padding: 7px 0 7px 0;
  display: block;
  position: absolute;
  top: 92px;
  right: 3%;
  width: 389px;
}

/* line 245, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
body aside .shadow-helper {
  overflow: hidden;
  /*	margin: 0 -16px;*/
  padding: 10px 0 0 16px;
  background: url(../images/skin/renewal/right-col-bg.gif) top left no-repeat;
  min-height: 800px;
}

/* line 253, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.left-toolbar {
  border-radius: 5px;
  background-color: #fff;
  width: 360px;
}

/* line 261, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.left-toolbar > section > header > h2,
div.left-toolbar > section > header > div > h2 {
  border-bottom: 1px solid #777;
  color: #777;
}

/* line 266, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.left-toolbar > section {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* line 272, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
section.tags a {
  font-size: 82%;
  color: #174e6e;
}

/* line 277, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
h2.tweets-title {
  position: relative;
}

/* line 281, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
h2.tweets-title > a > img {
  position: absolute;
  right: 5px;
}

/* line 286, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
h2.tweets-title > a:visited {
  color: #777;
}

/* line 290, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
section.tweets #twitter_div ul li {
  /* background: #f8f8f8 -moz-linear-gradient(90deg, rgba(0, 0, 0, .08) 2%, rgba(255, 255, 255, .1) 98%);
     background: #f8f8f8 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .1)), to(rgba(0, 0, 0, .08)));*/
  border: 1px solid #ececec;
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
}

/* line 299, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
section.tweets div.actions {
  font-size: 80%;
}

/* line 304, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.book-container,
.upcoming-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* line 310, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.book-container img {
  border: 1px solid #777;
}

/* line 314, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.upcoming-container img {
  margin: 5px;
}

/* line 318, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos {
  background: url(../images/speaking-logos2.png) top left no-repeat;
  height: 300px;
}

/* line 324, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div {
  text-align: left;
  float: right;
  width: 61%;
  background-color: #fafafa;
  margin: 5px;
}
/* line 331, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div.edge {
  height: 44px;
}
/* line 334, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div.fluent {
  height: 52px;
}
/* line 337, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div.velocity {
  height: 53px;
}
/* line 340, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div.connectjs {
  height: 43px;
}
/* line 343, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div.devoxx {
  height: 20px;
}
/* line 346, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div.devnexus {
  height: 21px;
}
/* line 349, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.speaking-logos div.allevents {
  height: 21px;
}

/*************************************************
Main Content
*************************************************/
/* line 358, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div#post-container img {
  display: block;
}

/* line 362, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div#main {
  display: block;
  position: absolute;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 154px 364px 0 0;
}

/* line 373, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div#post-container {
  /*   border: 3px solid #c7d4dc;*/
  width: 87%;
  padding: 0 0 0 0;
  margin: 10px auto 0 auto;
}

/* line 380, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post-preview {
  width: 95%;
}
/* line 382, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post-preview header {
  border-bottom: 1px dotted #999;
  margin: 0 0 10px 0;
}
/* line 387, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post-preview .post {
  border: none;
  padding: 0;
}
/* line 390, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post-preview .post h2.title {
  font-size: 149%;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  width: auto;
}
/* line 401, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post-preview .post h4.tags {
  margin: 10px 0 7px 0;
  background-color: #FAFAFA;
}

/* line 408, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post {
  padding-bottom: 2em;
  margin: 2em 2em 2.5em 0;
  border-bottom: 1px solid #888;
}
/* line 412, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post h2 {
  font-size: 149%;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
/* line 418, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post h2.title {
  font-size: 160%;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
/* line 424, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post h3 {
  font-size: 120%;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
/* line 430, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post h3.date {
  font-size: 80%;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #999;
  position: absolute;
  text-align: center;
}
/* line 440, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post .date-box {
  float: left;
  margin: 0 10px 0 0;
}
/* line 445, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post .date-box .date-day,
.post .date-box .date-month,
.post .date-box .date-year {
  margin: 0px;
  padding: 0px;
  color: #999;
  text-align: center;
  font-size: 90%;
}
/* line 453, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post .date-box .date-day {
  font-size: 150%;
}
/* line 457, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post .date-box .date-year {
  font-size: 50%;
}
/* line 462, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post h4 {
  font-size: 90%;
  font-weight: bold;
}
/* line 466, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post h4.tags {
  font-size: 90%;
  border-bottom: 1px dotted #999;
  margin: 0 0 7px 0;
  text-align: right;
  font-weight: normal;
  font-family: AvenirRegular;
  color: #999;
}
/* line 475, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post h4.tags a {
  color: #6D90BD;
}
/* line 478, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post .content {
  font-size: 1em;
}
/* line 480, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post .content p {
  padding: 5px 0 5px 0;
}
/* line 484, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post ul {
  list-style: circle;
}
/* line 487, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post ol, .post ul {
  list-style-position: inside;
}
/* line 489, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.post ol li, .post ul li {
  margin: 5px 0 5px 0;
}

/* line 495, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.fontface .post header {
  font-family: AvenirRegular, 'Lucida Grande', sans-serif;
}

/* line 498, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.no-fontface .post header {
  font-family: 'Lucida Grande', sans-serif;
}

/* line 504, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.notes {
  border: 1px solid #ececec;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
  /* IE6-9 */
  padding: 10px;
  margin: 15px;
  width: 39%;
  float: left;
  text-align: center;
  border-radius: 7px;
}

/* line 522, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.notif {
  border: 1px solid #ececec;
  background: #ffff88;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffff88 0%, #ffffc9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffff88), color-stop(100%, #ffffc9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffff88 0%, #ffffc9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffff88 0%, #ffffc9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffff88 0%, #ffffc9 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffff88 0%, #ffffc9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc9',GradientType=0 );
  /* IE6-9 */
  padding: 10px;
  margin: 15px;
  width: 39%;
  float: left;
  text-align: center;
  border-radius: 7px;
}

/* line 540, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.sticky-top-right {
  position: fixed;
  top: 10px;
  right: 0;
  width: 250px;
}

/* line 547, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.download {
  padding: 10px;
  margin: 15px 15px 0 0;
  width: 38%;
  float: right;
  text-align: right;
}

/* line 555, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.toc-list {
  margin: 10px 0 0 0;
  border-bottom: 1px solid #e9e9e9;
}

/* line 560, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.toc-list li {
  margin: 3px 0 0 0;
  padding: 5px 15px 5px 15px;
  background-color: #777;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 569, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.toc-list li.active {
  background-color: #0c0c0c;
}

/* line 573, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.toc-list li a {
  color: #fff;
  text-decoration: none;
}

/*************************************************
Design page
*************************************************/
/* line 581, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
div.design-item {
  border: 1px solid #ececec;
  border-radius: 7px;
  padding: 5px;
  margin: 15px;
  text-align: center;
  -moz-box-shadow: 0 0 5px 5px #ececec;
  -webkit-box-shadow: 0 0 5px 5px #ececec;
  box-shadow: 0 0 5px 5px #ececec;
  max-width: 510px;
}

/*************************************************
Media queries
*************************************************/
/* iOS/android phone landscape screen width*/
@media screen and (max-device-width: 480px) and (orientation: landscape) {
  /* line 600, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  body > aside {
    display: none;
  }

  /* line 604, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#main {
    margin: 154px 0 0 0;
  }

  /* line 608, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#post-container {
    width: 90%;
  }

  /* line 612, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.header-box nav.console {
    top: 111px;
  }

  /* line 616, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.post {
    margin: 2em 1em 2em 1.5em;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  /* line 623, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  body > aside {
    display: none;
  }

  /* line 627, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#main {
    margin: 154px 0 0 0;
  }

  /* line 631, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#post-container {
    width: 90%;
  }

  /* line 635, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.header-box nav.console {
    top: 111px;
  }

  /* line 639, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.post {
    margin: 2em 1em 2em 1.5em;
  }
}
@media screen and (min-device-width: 600px) and (orientation: portrait) {
  /* line 646, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  body > aside {
    display: none;
  }

  /* line 650, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#main {
    margin: 154px 0 0 0;
  }

  /* line 654, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#post-container {
    width: 90%;
  }

  /* line 658, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.header-box nav.console {
    top: 111px;
  }

  /* line 662, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.post {
    margin: 2em 1em 2em 1.5em;
  }
}
/* iOS/android phone portrait screen width*/
@media screen and (max-device-width: 320px) {
  /* line 670, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  body > aside {
    display: none;
  }

  /* line 674, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#main {
    margin: 154px 0 0 0;
  }

  /* line 678, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div#post-container {
    width: 90%;
  }

  /* line 682, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.header-box nav.console {
    top: 111px;
  }

  /* line 686, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
  div.post {
    margin: 2em 1em 2em 1.5em;
  }
}
/*************************************************
Utils
*************************************************/
/* line 694, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.transition {
  -moz-transition-duration: .5s;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
}

/* line 700, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.none {
  display: none;
}

/* line 704, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.notnone {
  display: default;
}

/* line 708, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.hide {
  opacity: 0;
}

/* line 712, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.show {
  opacity: 100;
}

/* line 716, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.max-width-100 {
  max-width: 100%;
}

/* line 720, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.max-width-50 {
  max-width: 50%;
}

/*DISQUS*/
/* line 725, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.dsq-widget-list {
  font-size: 90%;
}

/* line 729, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
a.dsq-widget-user {
  font-weight: bold;
  color: #1670A3;
}

/* line 734, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.gist {
  font-size: 80%;
}

/* line 738, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.table {
  border-collapse: collapse;
  width: 100%;
}

/* line 742, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.table td {
  border: 1px solid black;
  padding: 5px;
}

/* line 747, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.table td .c17.c14 {
  font-size: 1.2em;
}

/* line 751, /Users/u991/dev/wesleyhales.com/stylesheets/global.scss */
.table td .c8a {
  font-weight: bold;
  margin: 0 15px 0 0;
}
